.gradle/
.idea/
.terraform/
build/
out/
coverage/
dist/
node_modules/
src/main/frontend/.env

.DS_Store

.terraform
.tfstate

*.ipr
*.iml
*.iws

/junit.xml
/.env
/.env.fastify

src/main/avro/downloaded_schemas
